{% extends "base.htm" %}

{% block tit%}
Unversidad Veracruzana<br/>
Ingeniería de Software<br/>
Examen de prueba<br/>
Primer Parcial
{% endblock %}

{% block cuerpo %}

<section>
  <h2>Instrucciones generales</h2>
  <p>
    Lee cuidadosamente la definición de cada problema junto con su rúbrica asociada y realiza lo que se te pide. Crea un directorio para cada ejercicio. Cuando termines, comprime tus directorios en un solo archivo comprimido (zip, rar, etc.) con tu nombre y súbelo (el botón de subir está hasta abajo de la página). Considera que en lo que subes debe estar todo lo necesario para que el profesor compile y ejecute tu respuesta. Puedes subir tu archivo cuantas veces sea necesario, cada subida remplaza a la anterior.   
  </p>

  Este es otro examen de prueba
  
</section>

{% endblock %}
